{% extends "network/layout.html" %}
{% load static %}


{% block body %}
  <div class="pt-3"></div>
  <div class="container form_card m-auto px-5 py-3">
  <!--CREATE PROJECT FORMULARY-->
    <form id="create_project" action="{% url 'create_project' %}" method="post" class="m-2">
      {% csrf_token %}
      <h2 class="pb-3">Create your Project</h2>
      
      <!--List of teams that the user is in-->
      <div class="form-group">
        <label for="selected_team"><b>Team</b></label>
        <select class="form-control" id="selected_team" name="selected_team">
          {% for team in user_teams %}
            <option value="{{ team.id }}">{{ team.name }}</option>
          {% endfor %}
        </select>
      </div>
      
      <!--Project Name-->
      <div class="form-group">
        <label for="project_input"><b>Name</b></label>
        <input type="text" class="form-control" id="project_input" name="project_name" placeholder="Write a name for your project"  maxlength="15">
      </div>

      <!--Project Objective-->
      <div class="form-group">
          <label for="objective_input"><b>Objectives</b></label>
          <textarea class="form-control" id="objective_input" name="project_objective" rows="2"></textarea>
      </div>

      <!--Users list-->
      <div id="user_checkbox">
      {% for user in user_list %}
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="checkbox1" name="user[]" value="{{ user.id }}">
              <label class="form-check-label" for="checkbox1">{{ user.name }}</label>
            </div>
      {% endfor %}
      </div>


      <!--Submit button-->
      <div class="d-flex justify-content-center pt-2">
        <button type="submit" class="btn btn-dark">Create project</button>
      </div>
    </form>
  </div>

  <script src="{% static 'js/create_project.js' %}"></script>

{% endblock %}

