
{% extends "network/layout.html" %}


{% block body %}

<section class="cards-wrapper row pt-3 pb-5 px-5  w-75">
    
    <div class="card-grid-space col pb-4">
        <a class="project_card m-auto white_bg" href="{% url 'create_project'%}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="m-auto" style="width: 75px; height: 75px"><path class="pt-3" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
        </a>
    </div>

    <div class="card-grid-space col pb-4">
    <a class="project_card m-auto">
        <div>
        <h1>HTML Syntax</h1>
        <p>The syntax of a language is how it works. How to actually write it. Learn HTML syntax…</p>
        <div class="date">6 Oct 2017</div>
        <div class="tags">
            <div class="tag">HTML</div>
        </div>
        </div>
    </a>
    </div>
    <div class="card-grid-space col pb-4">
        <a class="project_card m-auto">
        <div>
            <h1>HTML Syntax</h1>
            <p>The syntax of a language is how it works. How to actually write it. Learn HTML syntax…</p>
            <div class="date">6 Oct 2017</div>
            <div class="tags">
            <div class="tag">HTML</div>
            </div>
        </div>
        </a>
    </div>
    <div class="card-grid-space col pb-4">
        <a class="project_card m-auto">
        <div>
            <h1>HTML Syntax</h1>
            <p>The syntax of a language is how it works. How to actually write it. Learn HTML syntax…</p>
            <div class="date">6 Oct 2017</div>
            <div class="tags">
            <div class="tag">HTML</div>
            </div>
        </div>
        </a>
    </div>
    <div class="card-grid-space col pb-4">
        <a class="project_card m-auto">
        <div>
            <h1>HTML Syntax</h1>
            <p>The syntax of a language is how it works. How to actually write it. Learn HTML syntax…</p>
            <div class="date">6 Oct 2017</div>
            <div class="tags">
            <div class="tag">HTML</div>
            </div>
        </div>
        </a>
    </div>
    <div class="card-grid-space col pb-4">
        <a class="project_card m-auto">
        <div>
            <h1>HTML Syntax</h1>
            <p>The syntax of a language is how it works. How to actually write it. Learn HTML syntax…</p>
            <div class="date">6 Oct 2017</div>
            <div class="tags">
            <div class="tag">HTML</div>
            </div>
        </div>
        </a>
    </div>
    <div class="card-grid-space col pb-4">
        <a class="project_card  mt-3 m-auto">
        <div>
            <h1>HTML Syntax</h1>
            <p>The syntax of a language is how it works. How to actually write it. Learn HTML syntax…</p>
            <div class="date">6 Oct 2017</div>
            <div class="tags">
            <div class="tag">HTML</div>
            </div>
        </div>
        </a>
    </div>
</section>


{% endblock %}