
{% extends "network/layout.html" %}


{% block body %}

<h4 class="text-center pb-3">{{ message }}</h4>
<section class="cards-wrapper row pt-3 pb-5 px-5  w-75">
    
    <div class="card-grid-space col pb-4">
        <a class="project_card m-auto white_bg" href="{% url 'create_project'%}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="m-auto" style="width: 75px; height: 75px"><path class="pt-3" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
        </a>
    </div>

    {% for project in projects %}
    <div class="card-grid-space col pb-4">
        <a class="project_card m-auto project_{{ project.id }}" style="border-color: {{ project.color }}; border-width: 2px;">
            <div>
                <h3><b>{{ project.name }}</b></h3>
                <p>{{ project.objective }}</p>   
                {% if project.is_completed %}
                    <div class="date">Completed</div>
                {% else %}
                    <div class="date">{{ project.completed_tasks_count }}/{{ project.task_set.all.count }} Tasks</div>
                {% endif %}
                <div class="tags">
                    <div class="btn task_button text-white mx-2" style="background-color: {{ project.color }}"; onclick="viewTasks({{project.id}})">View Tasks</div>
                    <div class="btn task_button text-white mx-2" style="background-color: {{ project.color }}"; onclick="createTask({{project.id}})">Create Task</div>
                </div>
            </div>
            <style>
                .project_{{ project.id }}::before {
                    background: {{ project.color }};
                    width: 250%;
                    height: 250%;
                }
                
            </style>
        </a>
    </div>
    {% endfor %}
</section>

<script>
function viewTasks(projectId) {
    window.location.href = "/project_tasks/" + projectId + "/";
}

function createTask(projectId) {
    window.location.href = "{% url 'create_task' %}" + "?project_id=" + projectId;
}
</script>



{% endblock %}