{% extends "network/layout.html" %}
{% load static %}
{% block body %}




<div class="card container mt-4 p-5 w-50 rounded shadow-lg" style="border: 2px solid {{team.color}}">
    <h3 class="text-center" style="color: {{ team.color }}">{{ team.name }}</h3>
    <hr class="w-50 m-auto" style="background-color: {{ team.color }}">
    
    <div class="row pt-5 d-flex justify-content-center">  
      <div class="col pl-5 ml-5">
        <h5 class="pb-3">Information</h5>
        <div class="">
          <p><b>Projects:</b> {{ team.project_set.all.count }}</p>
          <p><b>Projects Completed:</b> {{ team.completed_projects_count }}</p>
          <p><b>Members:</b> {{ team.members.count }}</p>
          <p><b>Objective:</b> {{ team.objective }}</p>
        </div>
      </div>
      
      <div class="col text-center">
        <h5 class="pb-3">Members</h5>
        <div id="user-list"   >
          {% for member in all_users %}
            <div class="user_card row rounded d-flex align-items-center justify-content-between px-3 mx-4 mb-3" {% if member in team.members.all %}style="background-color: {{team.color}}" {% else %}style="background-color: white"{% endif %}>
              {% if member in team.members.all %}
                <p class="h5 text-white text-center">{{ member.username }}</p>
                <svg class="manage_icon removeMember" onclick="removeMember(event, {{ member.id }}, {{ team.id }})" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M416 256c0 17.7-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>
              {% else %}
                <p class="h5 text-center">{{ member.username }}</p>
                <svg class="manage_icon addMember" onclick="addMember(event, {{ member.id }}, {{ team.id }})" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M240 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H176V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H240V80z"/></svg>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>



{% endblock %}

