{% extends "network/layout.html" %}


{% block body %}

<div class="main-container m-auto">
    <div class="cards row w-75 m-auto">
        <div class="col mx-3 pt-2">
            {% for task in user_tasks %}
            <div class="card_task row mb-5 mt-3 mx-auto" style="background-color: {{ task.color }}">
                <div class="col">
                    <p class="text-white row justify-content-end px-3">
                        {% if task.is_completed %}
                            <b>Completed &nbsp;</b>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                            </svg>
                        {% else %}
                            <b>In progress &nbsp;</b>
                            <svg xmlns="http://www.w3.org/2000/svg" onclick="markTaskAsCompleted({{ task.id }})" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            </svg>
                        {% endif %}
                    </p>
                    <p class="row task_objective text-white mx-3">{{ task.objective }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    function markTaskAsCompleted(taskId) {
        window.location.href = "/mark_task_as_completed/" + taskId + "/";
    }
</script>
{% endblock %}