{% extends "network/layout.html" %}


{% block body %}

<div class="main-container m-auto w-75">
    <div class="cards row">

        {% for task in user_tasks %}
        <div class="card_task" style="background-color: {{ task.color }}">
            <p class="card__exit"><i class="fas fa-times"></i></p>
            <h2 class="card__title">{{ task.objective }}</h2>
            <p class="card__apply">
            <a class="card__link" href="#">{{task.name}} <i class="fas fa-arrow-right"></i></a>
            </p>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}