{% extends "network/layout.html" %}


{% block body %}

<section class="cards-wrapper row p-5">
    <div class="card-grid-space col">
      <a class="team_card">
        <div>
          <h1>HTML Syntax</h1>
          <p>The syntax of a language is how it works. How to actually write it. Learn HTML syntax…</p>
          <div class="date">6 Oct 2017</div>
          <div class="tags">
            <div class="tag">HTML</div>
          </div>
        </div>
      </a>
    </div>
    <div class="card-grid-space col">
        <a class="team_card">
          <div>
            <h1>HTML Syntax</h1>
            <p>The syntax of a language is how it works. How to actually write it. Learn HTML syntax…</p>
            <div class="date">6 Oct 2017</div>
            <div class="tags">
              <div class="tag">HTML</div>
            </div>
          </div>
        </a>
      </div>
      <div class="card-grid-space col">
        <a class="team_card">
          <div>
            <h1>HTML Syntax</h1>
            <p>The syntax of a language is how it works. How to actually write it. Learn HTML syntax…</p>
            <div class="date">6 Oct 2017</div>
            <div class="tags">
              <div class="tag">HTML</div>
            </div>
          </div>
        </a>
      </div>
      <div class="card-grid-space col">
        <a class="team_card">
          <div>
            <h1>HTML Syntax</h1>
            <p>The syntax of a language is how it works. How to actually write it. Learn HTML syntax…</p>
            <div class="date">6 Oct 2017</div>
            <div class="tags">
              <div class="tag">HTML</div>
            </div>
          </div>
        </a>
      </div>
      <div class="card-grid-space col">
        <a class="team_card">
          <div>
            <h1>HTML Syntax</h1>
            <p>The syntax of a language is how it works. How to actually write it. Learn HTML syntax…</p>
            <div class="date">6 Oct 2017</div>
            <div class="tags">
              <div class="tag">HTML</div>
            </div>
          </div>
        </a>
      </div>
      <div class="card-grid-space col">
        <a class="team_card">
          <div>
            <h1>HTML Syntax</h1>
            <p>The syntax of a language is how it works. How to actually write it. Learn HTML syntax…</p>
            <div class="date">6 Oct 2017</div>
            <div class="tags">
              <div class="tag">HTML</div>
            </div>
          </div>
        </a>
      </div>
</section>


{% endblock %}