.manage_icon {
  height: 19px;
}

.manage_name {
  font-size: 19px;
}

#user-list {
  margin: 0 auto;
  overflow-y: scroll;
  height: 35vh;
}

#user-list::-webkit-scrollbar {
  width: 0 !important;
}

.user_card {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 3px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.bg-member {
  background-color: #6e6666;
}

.bg-not-member {
  background-color: white;
}
