@import url("https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700");
:root {
  --color: #f10404;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  background: #ebebeb;
}

section::-webkit-scrollbar {
  width: 0 !important;
}

a {
  color: inherit;
}

.active {
  background-color: black;
  color: white;
}

.cards-wrapper {
  margin: 0 auto;
  overflow-x: scroll;
  height: 80vh;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.project_card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-color: white;
  height: 18em;
  width: 13em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  transition: all, var(--transition-time);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  position: relative;
  overflow: hidden;
  border: 10px solid #fafafa;
  text-decoration: none;
}

.project_card.white_bg {
  background-color: white;
  border: none;
}

.project_card.white_bg:hover {
  background-color: black;
  border: 2px solid rgba(0, 0, 0, 0.164);
  color: white;
}

.project_card.white_bg:after {
  background-color: white;
}

.project_card:hover {
  transform: rotate(0);
  transform: scale(1.05);
  border: 3px solid #000000;
}

.project_card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.project_card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.project_card .tags {
  display: flex;
}

.project_card .tags .tag {
  font-size: 0.75em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.project_card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.project_card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.project_card:before, .project_card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.project_card:before {
  background: #030f79;
  width: 250%;
  height: 250%;
}

.project_card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.project_card.white_bg:before {
  background: #000000;
  width: 250%;
  height: 250%;
}

.project_card.white_bg:after {
  background: white;
  width: 200%;
  height: 200%;
}

.project_card.white_bg:before, .project_card.white_bg:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.project_card:hover {
  color: var(--color);
}

.project_card:hover:before, .project_card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
  color: white;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .project_card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}
